header{
    .divider{
        height: 40px;
        width: 1px;
        background: radial-gradient(#979797 , transparent 80%);
    }
    nav{
        a{
            &.active{
                color: var(--primary-color) !important;
            }
            &:hover{
                color: var(--primary-color);
            }
        }
    }
    .list-group{
        .list-group-item{
            &.active{
                color: var(--primary-color) !important;
                background-color: transparent;
            }
        }
        
    }
}