.user{
    button{
        border: 0;
        outline: 0;
        background-color: transparent;
    }
    .titles{
        h6{
            margin-bottom: 0;
            color: #161616;
            font-weight: 600;
            font-size: 14px;
            font-family: "Manrope", sans-serif;
            line-height: 14px;
        }
        span{
            color: var(--primary-color);
            font-family: "DM Sans", sans-serif;
            font-size: 12px;
            font-weight: 500;
        }
    }
    i{
        color: #8F92A166;
    }
}