<div class="user d-flex gap-3">
  <img src="../../../../../assets/images/avatar.png" alt="" width="32px" height="32px" class="rounded-circle object-fit-cover"/>
  <div class="dropdown w-100">
    <button
      class="pe-4 position-relative d-flex text-start w-100"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <div class="titles">
        <h6>Chelsea Murphy</h6>
        <span>Admin</span>
      </div>
      <i class="fa-solid fa-caret-down position-absolute top-0 end-0"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">My Account</a></li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>
</div>
