section{
    height: 100%;
    .header{
        padding: 1rem 1.5rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        h5{
            font-size: 22px;
            font-family: "Manrope", sans-serif;
            font-weight: 600;
            color: #1E1E1E;
            margin-bottom: 3px;
        }
        p{
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 12px;
            font-weight: 500;
            color: #84818A;
        }
    }
}