.button {
    padding: 9px 32px;
    border: 0;
    outline: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &.primary {
        background-color: var(--primary-color);
        color: var(--white);
    }

    &.secondary {}
}

.typography {
    &.heading {
        font-size: 22px;
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        color: var(--heading);
        margin-bottom: 3px;
    }

    &.subheading {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: var(--anchor);
    }
}