<div class="dropdown" offset="[10,10]">
  <button
    class=""
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fa-solid fa-bell"></i>
    <app-bedge counter="5"></app-bedge>
  </button>
  <div class="dropdown-menu py-0 w-100">
    <h6 class="my-2 p-2">Notifications <span class="badge text-bg-secondary">5</span></h6>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action border-0 dropdown-item active">
          <div class="d-flex w-100 justify-content-between">
            <div class="mb-1 fw-medium  ">Alex Mercer</div>
            <small>3 days ago</small>
          </div>
          <small class="text-wrap">Updated the storage successfully.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action border-0 dropdown-item">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">John Latham</h6>
            <small class="text-body-secondary">5 days ago</small>
          </div>
          <small class="text-body-secondary text-wrap">Puchased new storage pack. Purchased 5TB storage for now</small>
        </a>
        
      </div>
  </div>
 </div>
