.dropdown{
    button{
        position: relative;
        color: #b0b7c3;
        font-size: 16px;
        border: 0;
        outline: 0;
        background-color: transparent;
    }
    .dropdown-menu{
        min-width: 300px;
        max-width: 300px;
        max-height: 50vh;
        overflow-y: auto;
        .dropdown-item.active{
            color: var(--white) !important;
        }
    }
}