main{
    padding: 0.5rem 1.5rem;
    .wrapper{
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-gap: 1rem;
        grid-template-rows: 1fr;
        align-items: stretch;
    }
}