main{
    padding: 0 1.5rem 0.5rem;
    .wrapper{
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-gap: 1.5rem;
        // min-height: 50vh;
    }
}
@media screen and (max-width: 991px){
    main{
        .wrapper{
            grid-template-columns: 1fr;
        }
    }
}