section{
    height: 100%;
    .content{
        font-family: "Roboto", sans-serif;
        .buy-tokens-btn{
            background-color: var(--warning-bg);
            border: 0;
            outline: 0;
            width: 100%;
            font-size: 12px;
            font-weight: 500;
            padding: .3rem;
            color: var(--warning-color);
        }
    }
}