<section class="h-100">
  <div class="col-12 px-4 pt-4 pb-0">
    <h5 class="typography heading">Settings</h5>
    <p class="typography subheading">
      Any changes here will reflect in the final result
    </p>
  </div>
  <div class="col-12 px-4 py-2 content">
    <app-multiple-input
      label="VIDEO FORMAT"
      [options]="[
        'H264 - 1980x1260 AAC',
        'H264 - 1440x1024 AAC',
        'H264 - 1280x768 AAC',
        'H264 - 1164x864 AAC'
      ]"
      dataBsToggle="modal"
      dataBsTarget="video-format"
    ></app-multiple-input>
    <app-multiple-input
      label="VISUAL WMK"
      [options]="['Top, Middle, Bottom', 'Top', 'Middle', 'Bottom']"
      dataBsToggle="modal"
      dataBsTarget="visual-wmk"
    ></app-multiple-input>
    <div class="bg-body-tertiary border rounded p-2 my-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="true"
          id="forensicwatermark"
        />
        <label class="text-secondary"  style="font-size: 12px;font-weight: 500;" for="forensicwatermark">
          FORENSIC WATERMARK
        </label>
      </div>
      <span class="fw-medium">Fortify Media LLC</span>
    </div>
    <div class="bg-body-tertiary border rounded p-2 my-3">
      <span class="text-secondary" style="font-size: 12px;font-weight: 500;">OUTPUT FOLDER </span>
      <app-breadcrumbs [path]="['My Drive', 'Fortify Media']"></app-breadcrumbs>
    </div>
    <div class="bg-warning-subtle rounded my-3 mb-2">
      <div class="p-2 text-center">
        <img src="../../../../assets/images/buy-crypto.png" alt="" />
        <span><strong>10</strong> of 200 Tokens <strong>($0.30)</strong></span>
      </div>
      <button class="buy-tokens-btn rounded-bottom">Buy More</button>
    </div>
    <div class="tokens-warning"></div>
  </div>
  <div class="col-12 px-4 pb-4">
    <div class="row">
      <div class="col-md-6">
        <app-button variant="outlined">Cancle</app-button>
      </div>
      <div class="col-md-6">
        <app-button icon="fa fa-angle-right" position="right" variant="solid"
          >Confirm</app-button
        >
      </div>
    </div>
  </div>
  <app-modal modalId="video-format">Video Config</app-modal>
  <app-modal modalId="visual-wmk">Visual Config</app-modal>
</section>
