<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="../../../../assets/images/document_icon.png" alt="">
                <span>Collej Accelerator - Website cont...</span>
            </td>
            <td>165.2kb</td>
            <td>
                <img src="../../../../assets/images/user_folder_icon.png" alt="">
                <span>Academy Reports</span>
            </td>
            <td>
                <app-button icon="fa-solid fa-xmark"></app-button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../../../assets/images/sheet_icon.png" alt="">
                <span>PUXI04 - Review Slots</span>
            </td>
            <td>165.2kb</td>
            <td>
                <img src="../../../../assets/images/user_folder_icon.png" alt="">
                <span>My Drive</span>
            </td>
            <td>
                <app-button icon="fa-solid fa-xmark"></app-button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../../../assets/images/document_icon.png" alt="">
                <span>Collej Accelerator - Website</span>
            </td>
            <td>2.3gb</td>
            <td>
                <img src="../../../../assets/images/user_folder_icon.png" alt="">
                <span>My Life</span>
            </td>
            <td>
                <app-button icon="fa-solid fa-xmark"></app-button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../../../assets/images/pdf_icon.png" alt="">
                <span>PUXI04 - Review Slots</span>
            </td>
            <td>2.3gb</td>
            <td>
                <img src="../../../../assets/images/user_folder_icon.png" alt="">
                <span>My Drive</span>
            </td>
            <td>
                <app-button icon="fa-solid fa-xmark"></app-button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../../../assets/images/movie_icon.png" alt="">
                <span>Collej Accelerator - Website</span>
            </td>
            <td>165.2kb</td>
            <td>
                <img src="../../../../assets/images/user_folder_icon.png" alt="">
                <span>My Driver</span>
            </td>
            <td>
                <app-button icon="fa-solid fa-xmark"></app-button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../../../assets/images/movie_icon.png" alt="">
                <span>PUXI04 - Review Slots</span>
            </td>
            <td>165.2kb</td>
            <td>
                <img src="../../../../assets/images/user_folder_icon.png" alt="">
                <span>Academy Reports</span>
            </td>
            <td>
                <app-button icon="fa-solid fa-xmark"></app-button>
            </td>
        </tr>
    </tbody>
</table>